.logoINaziv img {
    float: left;
    position: relative;
    left: 10px;
  	width: 200px;
 	height: 200px;
}

.logoINaziv h1 {
  position: relative;
  top: 40px;
  left: 20px;
}

#ocena {
	position: relative;
	top: 50px;
	left: 20px;
	font-size: 20px;
	background: orange;
}

#tipObjekta {
	position: relative;
	top: 140px;
	left: -40px;
	font-size: 20px;
}

html{
	overflow-x: hidden;
	overflow-y: auto;
}

#status {
	position: relative;
	top: 175px;
	left: -250px;
	font-size: 20px;
}

#komentari {
	height: 320px;
	width: 99%;
	border: 1px solid lightgray;
	padding: 9px;
	position: absolute;
	bottom: 0;
	left: 10px;
	overflow-y:scroll;
}

.ocenaKomentar {
	background: orange;
}

#treninzi {
	height: auto;
	width: 99%;
	border: 1px solid lightgray;
	padding: 9px;
	position: absolute;
	left: 10px;
	top: 750px;
}

#slikaTreninga img {
	max-width:700px;
	max-height:350px;
	width: 100%;
	height: 100%;
}

#tekstTreninga {
	height: 350px;
}

#slikaTreninga {
	position: relative;
	float:left;
	top: 20px;
	width: 50%;
	height: 100%;
}

#headerAndButton {
	display:flex;
}

.popup {
	width: 600px;
	background: #90EE90;
	border-radius: 6px;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 15%) scale(1);
	padding: 30px 30px 30px;
	color: #333;
	visibility: hidden;
}

.popupOverlay {
	background-color: rgba(0,0,0, .8);
	border: solid 2px #666;
	padding: 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.popup button{
	cursor: pointer;
	width: 49%;
	margin-top: 50px;
	padding: 10px 0;
	background: #6fd649;
	color: #fff;
	border: 0;
	outline: none;
	font-size:18px;
	border-radius: 4px;
}

#popupButtonOtkazi {
	float:left;
	margin-right: 10px;
	cursor: pointer;
	width: 49%;
	margin-top: 50px;
	padding: 10px 0;
	background: #6fd649;
	color: #fff;
	border: 0;
	outline: none;
	font-size:18px;
	border-radius: 4px;
}

#tekstTreninga {
	position: relative;
}

#buttonDodajTrening {
	position: relative;
	top: 0px;
	background-color: lightgreen;
}
