.logoINaziv img {
    float: left;
    position: relative;
    left: 10px;
  	width: 200px;
 	height: 200px;
}

.logoINaziv h1 {
  position: relative;
  top: 40px;
  left: 20px;
}

#ocena {
	position: relative;
	top: 50px;
	left: 20px;
	font-size: 20px;
	background: orange;
}

#tipObjekta {
	position: relative;
	top: 140px;
	left: -280px;
	font-size: 20px;
}

#status {
	position: relative;
	top: 175px;
	left: -357px;
	font-size: 20px;
}

#komentari {
	height: 350px;
	width: 600px;
	border: 1px solid black;
	padding: 9px;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow-y:scroll;
}

.ocenaKomentar {
	background: orange;
}